body {
    background-color: darkslategray;
    margin: 0;
}

.page-content {
    background-color: white;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.left {
    background-color: yellow;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#left-image {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.image-credits {
    color: white;
    position: absolute;
    bottom: 10px;
}

.right {
    width: 60%;
}

.intro {
    padding: 15% 20px;
    background-color: aqua;
}

.form-content {
    box-shadow: 0 5px 5px -2px lightgray;
    padding: 20px;
}

.input-section {
    display: flex;
}

label {
    display: inline-block;
    width: 100%;
}

button {
    margin: 20px;
}

form + p {
    margin: 20px;
}