body {
    background-color: darkslategray;
    margin: 0;
}

.page-content {
    background-color: white;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.left {
    background-color: yellow;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#left-image {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.image-credits {
    color: white;
    position: absolute;
    bottom: 10px;
}

.right {
    width: 60%;
}

.intro {
    /* height: 40%; */
    padding: 20% 20px;
    background-color: aqua;
}