* {
    font-family: sans-serif;
}

body {
    background-color: darkslategray;
    margin: 0;
}

.page-content {
    background-color: white;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.left {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#left-image {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.logo {
    position: relative;
    top: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.logo > img {
    height: 80%;
    padding: 0 20px;
}

.image-credits {
    color: white;
    position: absolute;
    bottom: 10px;
}

.right {
    width: 60%;
}

.intro {
    padding: 15% 40px 10%;
    background-color: aqua;
    font-size: 1.3rem;
    font-weight: bold;
}

.form-content {
    box-shadow: 0 5px 5px -2px lightgray;
    padding: 20px 40px 40px;
}

.form-content > p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.input-section {
    display: flex;
}

.input-section div > div {
    padding-top: 20px;
}

label {
    display: inline-block;
    width: 100%;
    font-size: small;
}

input {
    font-size: medium;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px 6px;
}

input:focus {
    border: 2px solid #8A8AFF;
    font-size: medium;
    outline: none;
    border-radius: 4px;
    padding: 4px 6px;
}

button {
    background-color: green;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 15px 45px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px lightgray;
    margin: 30px 40px;
}

button:hover {
    background-color: rgb(2, 175, 2);
}

form + p {
    margin: 0 40px;
}

